/* section.main.css-uf99v8.ea3mdgi5,
header.css-18ni7ap.ezrtsby2,
div.stChatFloatingInputContainer.css-90vs21.e1d2x3se2 {
    background-color: #202020;
}

img.css-1j15ncu.en6cib62 {
    opacity: 1;
    background-color: #d0d0d0;
    border-radius: 0.5rem;
}

button.css-sa9oi8.ef3psqc4,
button.css-iiif1v.ef3psqc3 {
    color: #d0d0d0;
}

div.stChatMessage.css-1c7y2kd.eeusbqq4 {
    background-color: #404040;
}

div.css-5rimss.e1nzilvr4>p,
div.css-5rimss.e1nzilvr4>ol,
div.css-5rimss.e1nzilvr4>ul {
    color: #d0d0d0;
}

div.css-r421ms.e10yg2by1{
    border: 1px solid #e0e0e0;
}

span.css-10trblm.e1nzilvr0 {
    color: #d0d0d0;
} */


/* Home page Style */

div.block-container.css-z5fcl4.ea3mdgi4{
    padding-top: 0rem;
}


